$primary-color: #0C0C0B;
* { transition: all .7s ease-in-out; margin: 0; padding: 0; }
a { text-decoration: none; }

html,
body {
    overflow: hidden !important;
    width: 100vw;
    max-height: 100vh;
}

header.v-app-bar {
    height: 60px !important;
    border: solid;
    padding: 0 !important;
    z-index: 99;
    .v-toolbar__content {
        height: 80% !important;
        padding: 0 30px;
        margin: 0;
        margin-top: 5px;
    }
}

.breadcrumb {
    width: calc(100% + 10px);
    font-family: Roboto;
    background: #969696;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 15px;
    display: block;
    position: relative;
    left: -10px;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12) !important;
  
    h2.breadcrumb-title {
      font-weight: lighter;
      color: #fff;
      font-size: 1.3em;
    }

    .v-breadcrumbs {
      margin: 0;
      padding: 0;
  
      li > a {
        font-size: .7em;
        font-weight: lighter;
        color: #fff !important;
      }
      li.v-breadcrumbs__divider > i {
        font-size: .7em;
        font-weight: lighter;
        color: #fff !important;
      }
      a.v-breadcrumbs__item--disabled {
        color: #ccc !important;
      }
    }
}

.v-content {
    background: #eee;
    overflow: auto;
    padding: 0 !important;
    .v-content__wrap {
        display: flex !important;
        overflow: hidden;
        .sidebar {
            z-index: 1;
            width: 220px;
            background: url('./../static/img/sidebar_bg.jpg');
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            .v-list-sidebar {
                height: 100%;
                margin: 0;
                padding: 0;
                border-radius: 0;
                background: rgba(27, 27, 27, .74);
                .v-item-group {
                    margin: 0;
                    padding: 0;
                    padding-top: 20px;
                    .v-list-item {
                        display: flex;
                        margin: 10px;
                        padding: 5px;
                        border-radius: 5px;
                        height: 50px;
                        &:hover,
                        &.v-list-item--active {
                            transition: all .1s linear;
                            background: $primary-color;
                            box-shadow: 1px 1px 10px #333;
                        }
                        .v-list-item__icon,
                        .v-list-item__content {
                            margin: 0;
                            padding: 0;
                            margin-left: 10px;
                            height: 100%;
                            color: #fff;
                            i {
                                font-size: 1.2em;
                                color: #fff;
                            }
                        }
                        .v-list-item__content {
                            font-weight: lighter;
                            font-size: 1em;
                            .v-list-item__title {
                                font-size: .8em;
                            }
                        }
                    }
                }
            }
        }
        .app-content {
            padding: 20px;
            width: 100% !important;
            overflow: auto;
            height: 100vh;

            .container {
                min-width: 100%;
            }
        }
    }
}

.hide-sidebar {
    transform: translateX(-250px);
    overflow: hidden;
}

.no-width {
    width: 0 !important;
}

.special-scroll {
    min-height: 100%;
    max-height: 500px;
    width: 100%;
    overflow: auto;
}

.app-content::-webkit-scrollbar,
.special-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

.app-content::-webkit-scrollbar-track,
.special-scroll::-webkit-scrollbar-track {
    background: #ddd;
}

.app-content::-webkit-scrollbar-thumb,
.special-scroll::-webkit-scrollbar-thumb {
    background: $primary-color;
}

.hover-rotate:hover {
    cursor: pointer;
    transition: all .3s ease-out;
    color: #fff !important;
    background: #ff4e00;
    transform: rotate(360deg) scale(.8);
    -webkit-transform: rotate(360deg) scale(.8);
    -moz-transform: rotate(360deg) scale(.8);
    -ms-transform: rotate(360deg) scale(.8);
    -o-transform: rotate(360deg) scale(.8);
}

.lines-bg {
    background-size: 15px 100%;
    background-image: linear-gradient(to right, #ff4e00 0%, transparent 5%, transparent 100%);
    background-repeat: repeat-x;
}
